<nav class="navbar bg-primary footer">
    <div class="container-fluid">
    <div class="row w-100">
        <div class="col-12">
            <div class="footer-container d-flex justify-content-center w-100 align-items-center">
                <p class="navbar-brand text-white" href="#">&copy; Super Hero App |</p>
                <p class="navbar-brand text-white" href="#">2022 |</p>
                <p class="navbar-brand text-white" href="#">All Rights Reserved</p>
            </div>  
        </div>
    </div>
    </div>
  </nav>